{{define "modals/devicesModal"}}
<a-modal id="devices-modal" v-model="devicesModal.visible" :title="devicesModal.title" :closable="true" :mask-closable="true" :footer="null" width="800px" :class="themeSwitcher.currentTheme">
  <a-table :columns="devicesModal.columns" :data-source="devicesModal.list" :pagination="false" row-key="id"></a-table>
</a-modal>
<script>
  function refreshDevices(email) {
    return HttpUtil.post(`/panel/api/inbound/clientDevices/${email}`).then((msg) => {
      if (msg.success) {
        return msg.obj;
      }
      return [];
    });
  }
  const baseDevicesTitle = '{{ i18n "devices" }}';
  const devicesModal = {
    visible: false,
    title: baseDevicesTitle,
    list: [],
    columns: [
      { title: 'HWID', dataIndex: 'hwid', key: 'hwid' },
      { title: '{{ i18n "deviceOS" }}', dataIndex: 'deviceOs', key: 'deviceOs' },
      { title: '{{ i18n "verOS" }}', dataIndex: 'verOs', key: 'verOs' },
      { title: '{{ i18n "deviceModel" }}', dataIndex: 'deviceModel', key: 'deviceModel' },
      { title: '{{ i18n "userAgent" }}', dataIndex: 'userAgent', key: 'userAgent' },
      { title: '{{ i18n "pages.index.ipAddresses" }}', dataIndex: 'ips', key: 'ips' },
      { title: '{{ i18n "createdAt" }}', dataIndex: 'createdAt', key: 'createdAt' },
      { title: '{{ i18n "updatedAt" }}', dataIndex: 'updatedAt', key: 'updatedAt' },
    ],
    show(email) {
      this.visible = true;
      refreshDevices(email).then((list) => {
        this.list = list.map((d) => ({
          ...d,
          createdAt: moment(d.createdAt).format('DD.MM.YY HH:mm'),
          updatedAt: moment(d.updatedAt).format('DD.MM.YY HH:mm'),
        }));
        this.title = `${baseDevicesTitle} (${list.length})`;
      });
    },
  };
  const devicesModalApp = new Vue({
    el: '#devices-modal',
    data() {
      return { devicesModal };
    },
  });
</script>
{{end}}