{{define "head"}}
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex,nofollow">
  <title>{{ if .title }}{{ i18n .title}}{{ else }}App{{ end }}</title>
  <link rel="manifest" href="{{ .base_path }}assets/manifest.json">
  <link rel="shortcut icon" type="image/x-icon" href="{{ .base_path }}assets/favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ .base_path }}assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ .base_path }}assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ .base_path }}assets/favicon/favicon-16x16.png">
  <link rel="stylesheet" href="{{ .base_path }}assets/ant-design-vue/antd.min.css">
  <link rel="stylesheet" href="{{ .base_path }}assets/css/custom.min.css?{{ .cur_ver }}">
  <style>
    [v-cloak] {
      display: none;
    }
    body {
      font-family: -apple-system, BlinkMacSystemFont, 'Vazirmatn', 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
        'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
    }
  </style>
  <title>{{ .host }} – {{ i18n .title}}</title>
</head>
<div id="message"></div>
{{end}}